* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    max-width: 100%;
}

*:hover {
    transition: 0.3s;
}

*:not(:hover) {
    transition: 0.2s;
}

:root {
    --main: #000000;
    --second: #ececec;
    --accent-color: #6f2da8;
    --background: #363131;
}

body {
    /* background: url(../img/background.jpg), var(--main); */
    background: var(--background);
    background-size: 100%;
    color: var(--second);
    margin: 0;
    display: flex;
    justify-content: center;
}

a,
div,
p,
h1,
li,
img {
    user-select: none;
}

img:not(.header) {
    pointer-events: none;
    border-radius: 2px;
}

button {
    cursor: pointer;
    padding: 6px 8px;
    border: 1px solid var(--main);
    border-radius: 3px;
    background: transparent;
    align-items: center;
}

button:hover {
    filter: brightness(0.9);
}

button.back:before {
    content: "← ";
}

a button.back {
    text-decoration: none !important;
}

div {
    border-radius: 2px;
}

a {
    color: inherit;
}

a:hover {
    color: var(--accent-color);
}

p {
    margin: 0;
}

#app {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    padding: 0 30px;
    gap: 7.5px;
}

main{
    width: 100%;
}

aside {
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bouchon{
    width: 20px;
}

#contact-content{
    line-height: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header {
    width: calc(100% - (var(--sidebar-width)));
    height: fit-content;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background: var(--second);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b2b2b;
}