@media (max-width: 700px) {
    .content {
        flex-direction: column !important;
    }

    .right {
        width: 100% !important;
        align-items: center !important;
    }

    .container {
        width: 95vw !important;
    }

    .header {
        height: fit-content !important;
        width: auto !important;
    }
}

@media (max-width: 530px) {
    .leftbottom {
        flex-direction: column !important;
    }

    .leftbottom .leftcontainer,
    .leftbottom .leftcontainer2 {
        width: 100% !important;
        min-height: unset !important;
    }
}

* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    max-width: 100%;
}

*:hover {
    transition: 0.3s;
}

*:not(:hover) {
    transition: 0.2s;
}

:root {
    --main: #0a0a0a;
    --second: #ececec;
    --accent-color: #6f2da8;
}

body {
    background: url(/assets/images/bg.webp), var(--main);
    background-size: 75%;
    color: var(--second);
    margin: 0;
    display: flex;
    justify-content: center;
    line-height: 2.25rem;
    font-weight: 600;
    max-width: 100vw;
}

a,
div,
p,
h1,
li,
img {
    user-select: none;
}

img:not(.header) {
    pointer-events: none;
    border-radius: 2px;
}

button {
    cursor: pointer;
    padding: 6px 8px;
    border: 1px solid var(--main);
    border-radius: 3px;
    background: transparent;
    align-items: center;
}

button:hover {
    filter: brightness(0.9);
}

button.back:before {
    content: "← ";
}

a button.back {
    text-decoration: none !important;
}

div {
    border-radius: 2px;
}

a {
    color: inherit;
}

a:hover {
    color: var(--accent-color);
}

p {
    margin: 0;
}

.right p:nth-child(2) {
    line-height: 1.1rem;
}

.right p:nth-child(3) {
    line-height: 1.1rem;
}

footer {
    text-align: center;
    background: var(--main);
    margin-top: 5px;
}

h1 {
    font-size: 1.75rem;
    font-style: oblique;
}

.straight {
    line-height: 1.5rem;
}

.straight-extreme {
    line-height: 1.25rem;
}

.container {
    max-width: 95vw;
    width: 1500px;
    padding-bottom: 5px;
}

.content {
    display: flex;
    gap: 7.5px;
}

.header {
    width: 100%;
    height: 38.5vh;
    object-fit: cover;
    object-position: bottom;
    line-height: 0;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.right {
    width: 250px;
    background: var(--main);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.bar:before {
    content: "_____________";
    font-weight: bolder;
    font-size: 2rem;
}

.leftbottom .leftcontainer,
.leftbottom .leftcontainer2 {
    min-height: 425px;
}

.leftcontainer2 {
    background: #9a976b;
    color: var(--main);
    font-weight: 700;
}

.leftcontainer {
    line-height: 1.2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    background: #dadab8;
    color: var(--main);
}

.leftcontainer p {
    text-align: center;
    font-style: oblique;
}

.leftbottom {
    display: flex;
    gap: 6px;
    line-height: 1.5rem;
    text-align: center;
    height: 100%;
}

.leftbottom .leftcontainer2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
}

.leftcontainer2 * {
    padding: 0 10px;
}

.leftbottom .leftcontainer {
    width: 30%;
}

.leftbottom ul {
    padding: 0;
    line-height: 2.4rem;
}

.leftbottom li {
    list-style: none;
    font-weight: 700;
    font-size: 1.15rem;
    font-style: oblique;
}

.right ul {
    padding: 0;
}

.bouchon {
    width: 1.5rem;
}

.right li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.full {
    width: 100% !important;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 10px;
    font-size: 1.05rem;
    line-height: 1.3rem;
    align-items: center;
}

.etiquette {
    width: 250px;
}